/* Imports */
@import './resets';
@import './variables';

/* functions */
@function weight($weight-name) {
    @return map-get($font-weights, $weight-name);
}

/* mixins */
@mixin alignCenter {
    align-items: center;
    text-align: center;
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

.hero {
    @include alignCenter;
    height: 100vh;
    padding-top: 40vh;
    overflow: hidden;
    background:linear-gradient(rgba(37, 34, 34, 0), rgba(37, 34, 34, 0.7)), url(/assets/img/background.jpg);
    background-size: cover;
    /* Nesting */
    h4 {
        color: $primary-color;
        font-weight: weight(bold);
    }
    h1 {
        color: $secondary-color;
    }
    .main {
        @include mobile{
            flex-direction: column;
        }
        color: $secondary-color;
        font-weight: weight(regular);
        width: 80%;
        margin: 50px auto;
        &:hover{
            color: $primary-color;
        }
    }
    .main_2 {
        /* extend */
        @extend .main;
        &:hover {
            color: purple;
        }
    }
}